{
  "parserOptions": {
    "ecmaFeatures": {"jsx":true },
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "react",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:import/errors",
    "airbnb", "airbnb/hooks"
  ],
  "rules": {
    "react/react-in-jsx-scope":"off",
    "react/prop-types":"off",
    "prefer-const":"error",
    "no-var":"error",
    "linebreak-style":["error","windows"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}