html {
  font-family: 'Hack';
  font-weight: 500;
}

body {
  margin            : 0;
  scroll-behavior   : smooth;
  -ms-overflow-style: none;
  scrollbar-width   : none;
  margin            : 0;
  font-family       : -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

p {
  margin-block-start : 0.5em;
  margin-block-end   : 0.5em;
  margin-inline-start: 0px;
  margin-inline-end  : 0px;
  line-height        : 2;
  font-size          : 17px;
  color              : #63738b;
}


input[type=text]::-ms-clear {
  display: none;
}

.error404 {
  height: 35vmax;
  width : 35vmax;
}

.errorbuttom {
  font-family     : 'Inter';
  border-width    : 0px;
  border-radius   : 3px;
  color           : #fff;
  background-color: #4169E1;
  padding         : 8px 12px;
  cursor          : pointer;
  margin-top      : 0px
}


.link {
  color: #FFF;
}

.link:hover {
  color: #fff
}

@font-face {
  font-family : 'Inter';
  font-style  : normal;
  font-weight : 400;
  font-display: swap;
  src         : url("./assets/fonts/Inter-Regular.woff2?3.13") format("woff2"),
    url("./assets/fonts/Inter-Regular.woff?3.13") format("woff");

}


@font-face {
  font-family : 'Inter';
  font-style  : normal;
  font-weight : 500;
  font-display: swap;
  src         : url("./assets/fonts/Inter-Medium.woff2?3.13") format("woff2"),
    url("./assets/fonts/Inter-Medium.woff?3.13") format("woff");
}



@font-face {
  font-family : 'Inter';
  font-style  : normal;
  font-weight : 600;
  font-display: swap;
  src         : url("./assets/fonts/Inter-SemiBold.woff2?3.13") format("woff2"),
    url("./assets/fonts/Inter-SemiBold.woff?3.13") format("woff");
}


@font-face {
  font-family : 'Inter';
  font-style  : normal;
  font-weight : 700;
  font-display: swap;
  src         : url("./assets/fonts/Inter-Bold.woff2?3.13") format("woff2"),
    url("./assets/fonts/Inter-Bold.woff?3.13") format("woff");
}

/*background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%)*/

